<nav class="navbar navbar-expand-lg navbar-light bg-light NavsCss">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="logo-img" src="../assets/imagenes/LogoInicial.png" alt="Logo">
    </a>
    <div class="navbar-brand mx-auto">CRUD</div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link OpcionesCss" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  OpcionesCss" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<app-datatable></app-datatable>
<app-footer-page></app-footer-page>

<router-outlet></router-outlet>
